env/
SoftDesk_API/api/__pycache__/models.cpython-39.pyc
SoftDesk_API/api/__pycache__/permissions.cpython-39.pyc
SoftDesk_API/api/__pycache__/serializers.cpython-39.pyc
SoftDesk_API/api/__pycache__/views.cpython-39.pyc
SoftDesk_API/api/migrations/0004_rename_author_user_id_project_author_user.py
SoftDesk_API/api/migrations/__pycache__/0004_rename_author_user_id_project_author_user.cpython-39.pyc
SoftDesk_API/authentication/__pycache__/serializers.cpython-39.pyc
SoftDesk_API/authentication/__pycache__/views.cpython-39.pyc
SoftDesk_API/SoftDesk_API/__pycache__/urls.cpython-39.pyc
SoftDesk_API/api/__pycache__/serializers.cpython-39.pyc
SoftDesk_API/api/__pycache__/views.cpython-39.pyc
SoftDesk_API/authentication/__pycache__/views.cpython-39.pyc
SoftDesk_API/flake-report/api.tests.report.html
SoftDesk_API/flake-report/api.tests.source.html
SoftDesk_API/flake-report/authentication.migrations.0001_initial.report.html
SoftDesk_API/flake-report/authentication.migrations.0001_initial.source.html
SoftDesk_API/flake-report/authentication.tests.report.html
SoftDesk_API/flake-report/authentication.tests.source.html
SoftDesk_API/authentication/__pycache__/views.cpython-39.pyc
SoftDesk_API/flake-report/back.svg
SoftDesk_API/flake-report/file.svg
SoftDesk_API/flake-report/index.html
SoftDesk_API/flake-report/styles.css
